<div class="schedules">
  <div class="schedule">
    <%= image_tag("hyousi.jpg", class: 'schedule_image') %>
  </div>
  <div class="schedule">
    <%= image_tag("ichinichime.jpg", class: 'schedule_image') %>
  </div>
  <div class="schedule">
    <%= image_tag("futukame.jpg", class: 'schedule_image') %>
  </div>
  <div class="schedule">
    <%= image_tag("mikkame.jpg", class: 'schedule_image') %>
  </div>
  <div class="schedule">
    <%= image_tag("yokkame.jpg", class: 'schedule_image') %>
  </div>
  <div class="schedule">
    <%= image_tag("itukame.jpg", class: 'schedule_image') %>
  </div>
  <div class="schedule">
    <%= image_tag("muikame.jpg", class: 'schedule_image') %>
  </div>
  <div class="schedule">
    <%= image_tag("nanokame.jpg", class: 'schedule_image') %>
  </div>
</div>